<div class="clr-row">
  <!-- <h3>Popular Movies</h3> -->
</div>
<div class="movie-display clr-row">
  <!-- <div class="clr-col-lg-4 clr-col-12"> -->
  <div class="card" *ngFor="let movie of movies">
    <div class="card-img">
      <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" />
    </div>
    <div class="card-block">
      <h5 class="movie-title card-title">
        {{ movie.title | titlecase }}
      </h5>
      <p class="card-text">Release Date: {{ movie.release_date | date }}</p>
      <p class="card-text">Average Rating: {{ movie.vote_average }}</p>
      <!-- <h3 class="card-title">{{ movie.name }}</h3> -->
      <p class="card-text" *ngIf="movie.release_date"></p>
      <div class="icons">
        <a class="rating btn btn-link" (click)="seeMovieDetails(movie)"
          >View Details</a
        >

        <clr-icon shape="heart" (click)="addToFavorites(movie)"></clr-icon>
      </div>
    </div>

    <!-- <div class="card-footer"></div> -->
  </div>
  <!-- </div> -->
</div>
