header {
  background: #fff;
  /* background: #0a97b0; */
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 60px;

}

.logo-container {
  width: 250px;
  height: 100%;

  /* height: 100%; */
}

img {
  width: 100%;
  height: auto;
}


header a {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.1rem
}

.header-nav a {
  /* color: #fff; */
  color: #0a97b0;
}


.header-nav a:hover {
  /* color: #fff; */
  color: #fa25a0;

}

button a {
  color: #0a97b0;

}

.profile-icon {
  color: #0a97b0
}

.hamburger-icon {
  color: #333;
}
