header {
  background: #fff;
  /* background: #0a97b0; */
  height: 6vh;
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.branding {
  /* background: #fff; */
}

.logo-container {
  width: 250px;

  /* height: 100%; */
}

img {
  width: 100%;
  height: auto;
}


header a {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.1rem
}

.header-nav a {
  /* color: #fff; */
  color: #0a97b0;
}

.header-nav a:hover {
  /* color: #fff; */
  color: #fa25a0;
}

button a {
  color: #0a97b0;
  /* color: #333; */
}
