<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
  <div class="modal-body">
    <div class="movie-card">
      <div class="img">
        <img
          src="https://image.tmdb.org/t/p/w200/{{ movieActive?.poster_path }}"
        />
      </div>

      <div class="text-content">
        <h3>{{ movieActive?.title }}</h3>
        <hr />
        <p>Release Date: {{ movieActive?.release_date | date }}</p>

        <p>
          Description: <br />
          {{ movieActive?.overview }}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn">
      Ok
    </button>
  </div>

  <div class="modal-backdrop" aria-hidden="true"></div>
</clr-modal>
