<div class="card-container" id="movie-card">
  <div class="card-img">
    <img src="https://image.tmdb.org/t/p/w200/{{ movie?.poster_path }}" />
  </div>
  <div class="card-block">
    <h4 class="movie-title card-title">
      {{ movie?.title }}
    </h4>

    <hr />

    <div class="footer">
      <button class="btn btn-link" (click)="onClick()">
        View Detail
      </button>
      <div class="box">
        <h3 class="card-text star">
          <clr-icon shape="star" size="20" class="is-solid star-icon">
          </clr-icon>
          &nbsp;
          <span>
            {{ movie?.vote_average }}
          </span>
        </h3>
      </div>
    </div>

    <app-modal [basic]="basic" [movieActive]="movieActive"></app-modal>
  </div>
</div>
