<div class="card-container">
  <div class="card-img">
    <img src="https://image.tmdb.org/t/p/w200/{{ movie?.poster_path }}" />
  </div>
  <div class="card-block">
    <h4 class="movie-title card-title">
      {{ movie?.title | titlecase }}
    </h4>
    <div class="box">
      <h3 class="card-text star">
        <clr-icon shape="star" size="20" class="is-solid star-icon"> </clr-icon>
        &nbsp;
        <span>
          {{ movie?.vote_average }}
        </span>
      </h3>
    </div>
    <hr />

    <div class="footer">
      <button class="btn btn-link" (click)="onClick()">
        View Detail
      </button>
      <!-- <app-favorites [movieActive]="movieActive"></app-favorites> -->
      <a
        ><clr-icon shape="heart" size="20" (click)="addToFavorites()"></clr-icon
      ></a>
    </div>
    <!-- <app-modal></app-modal> -->
    <app-modal [basic]="basic" [movieActive]="movieActive"></app-modal>
  </div>
</div>
