<div id="login">
  <form>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input
          type="text"
          name="email"
          clrInput
          placeholder="Email"
          [(ngModel)]="form.email"
        />
      </clr-input-container>
      <span> 12 </span>
      <clr-input-container>
        <label class="clr-sr-only">Password</label>
        <input
          type="text"
          name="password"
          clrInput
          class="password"
          placeholder="Password"
          [(ngModel)]="form.password"
        />
      </clr-input-container>
      <span>
        hi
      </span>
      <div class="button btn btn-link">
        <a class="login-button" (click)="login()">
          Sign In
        </a>
      </div>
    </div>
  </form>

  <clr-dropdown class="registeredUserIcon">
    <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
      <clr-icon shape="user" size="22" class="is-solid"> </clr-icon>
      &nbsp;
      <clr-icon shape="caret down" size="22" class="caret arrow"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
      <a> My Favorite Movies</a>
      <a>Log out</a>
    </clr-dropdown-menu>
  </clr-dropdown>
  -
</div>
