div.register {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-group {
  display: flex;
  align-items: center;
}



.form {

  width: 60%;
  display: flex;


}

.register-form {
  min-height: 90vh;

}

.login-button {
  font-family: 'Covered By Your Grace', cursive;

}

#login .button a {

  text-decoration: none;
  color: #0a97b0;
  font-size: 24px;
  position: relative;
  top: 6px;
}

#login .button a:hover {
  color: #fa26a0
}
