#login {
  /* height: 100vh; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.login-group {
  display: flex;
  align-items: center;
}

.registeredUserIcon {
  color: #fa25a0
}

.form {

  width: 60%;
  display: flex;




}

.register-form {
  min-height: 90vh;

}

.login-button {
  font-family: 'Covered By Your Grace', cursive;

}

#login .button a {
  text-transform: lowercase;

  text-decoration: none;
  color: #0a97b0;
  font-size: 24px;
  position: relative;
  top: 6px;
}

#login .button a:hover {
  color: #fa26a0
}

.registeredUserIcon {
  padding-top: 20px;
}

.registeredUserIcon .is-solid {
  /* color: #fa26a0; */

  color: #0a97b0;
}

button .caret {
  /* color: #fa26a0; */
  color: #0a97b0
}

.user-email-display {
  color: #0a97b0;
  font-size: 15px;
  /* font-family: 'Covered By Your Grace', cursive; */
}

.user-options {
  padding: 10px;
  color: #333;
}
