<div id="login">
  <form>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input
          type="text"
          name="email"
          clrInput
          placeholder="Email"
          [(ngModel)]="form.email"
        />
      </clr-input-container>
      <span> 12 </span>
      <clr-input-container>
        <label class="clr-sr-only">Password</label>
        <input
          type="text"
          name="password"
          clrInput
          class="password"
          placeholder="Password"
          [(ngModel)]="form.password"
        />
      </clr-input-container>
      <span>
        hi
      </span>
      <div class="button">
        <a class="login-button" (click)="login()">
          Sign In
        </a>
      </div>
      <!-- </a> -->
    </div>
  </form>
</div>
