<div id="login">
  <form>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input
          type="text"
          name="email"
          clrInput
          placeholder="Email"
          [(ngModel)]="form.email"
        />
      </clr-input-container>
      <span>
        hello
      </span>
      <clr-input-container>
        <label class="clr-sr-only">Password</label>
        <input
          type="text"
          name="password"
          clrInput
          class="password"
          placeholder="Password"
          [(ngModel)]="form.password"
        />
      </clr-input-container>
      <span>
        hello
      </span>
      <!-- <a (click)="login()"> -->
      <!-- Sign In -->
      <!-- <clr-icon shape="login" class="login-uttone"></clr-icon> -->
      <a class="btn login-button" (click)="login()">
        Sign In
      </a>

      <!-- </a> -->
    </div>
  </form>
</div>
