.main-container {
  background: none;
}

nav {
  background: #0a97b0;
}

nav .sidenav {
  background: #0a97b0;



}

@media only screen and (min-width: 900px) {
  body {
    background-color: lightblue;
  }
}
