.register {
  height: 90vh;

  background: #eee url(../../assets/images/moviereel.jpg) no-repeat fixed center;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding-top: 20px;
}

.register-content {
  display: flex;
  padding-top: 120px;
}

img {
  height: 100%;
  width: auto;
}



.register-left,
.register-right {
  width: 500px;

}

.benefits {
  width: 400px;
}

input {
  width: 400px;

}
